.container {
  font-family: 'Roboto', serif;
  font-size: 16px;
  line-height: 1.3em;

  max-width: $desctop;
  margin: auto;
  padding: 10px 20px;
  height: 100vh;

  .content {
    height: 100%;
    background: $white;
    border: solid 1px $gray;
    border-radius: 5px;
    display: flex;
    overflow: hidden;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
}
