.custom-select {
  cursor: pointer;
  z-index: 100;

  .city {
    font-size: 16px;
  }

  .region {
    font-size: 12px;
    line-height: 110%;
    color: $dark-gray;
  }

  .custom-select__trigger {
    position: relative;
    height: 50px;
    width: 100%;
    background: $gray;
    border-radius: 5px;
    padding: 10px 14px 6px;

    &::after {
      position: absolute;
      content: '';
      width: 13px;
      height: 13px;
      top: 14px;
      right: 16px;
      border-bottom: solid 2px $black;
      border-left: solid 2px $black;
      transform: rotate(-45deg);
    }
  }

  .custom-options {
    position: absolute;
    display: block;
    top: 100%;
    width: 100%;
    max-height: 35vh;
    border: solid 1px $gray;
    border-top: 0;
    opacity: 0;
    visibility: hidden;
    transform: translate(0%);
    transition: all 0.5s;
    pointer-events: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &.open {
    .custom-select__trigger {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      z-index: 100;
    }
  }

  .custom-option {
    background-color: $white;
    height: 50px;
    padding: 10px 14px 6px;

    &:hover {
      transition: all 0.5s;
      background-color: $gray;
    }
  }
}
