::-webkit-scrollbar {
  width: 12px;
  background: $white;

  &-thumb {
    background: $gray;
    border: 2px solid $white;
    border-radius: 20px;

    &:hover {
      background: $dark-gray;
    }
  }
}
