@import '_reset';
@import '_vars';
@import 'blocks/container';
@import 'blocks/nav';
@import 'blocks/map';
@import 'blocks/customSelect';
@import 'blocks/searchField';
@import 'blocks/stores';
@import 'blocks/store';
@import 'blocks/spinner';
@import 'blocks/scrollbar';
@import 'blocks/backdrop';

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    url('../fonts/Roboto-Regular.ttf');
}
